extends ../layout

block content

    article#google-maps-gui
    form(action='/create_carpool_route' method='POST')
      label Start typing your address and choose your address from the generated list: 
      label Address
      input#address_text_field(type='text' name='address_1' required)
      label Postal code
      input#postal_code_text_field(type='text' name='postal_code_1' required)
      label Locality
      input#locality_text_field(type='text' name='locality_1' required)
      label Country
      input#country_text_field(type='text' name='country_1' required)
      br
      label Start typing your address and choose your address from the generated list: 
      label Address
      input#address_2_text_field(type='text' name='address_2' required)
      label Postal code
      input#postal_code_2_text_field(type='text' name='postal_code_2' required)
      label Locality
      input#locality_2_text_field(type='text' name='locality_2' required)
      label Country
      input#country_2_text_field(type='text' name='country_2' required)
      br
      label Start time 
      input#carpool_start_time_text_field(type='text' name='start_time' required)
      label End time 
      input#carpool_end_time_text_field(type='text' name='end_time' required)

      label Maximum passengers 
      input#max_passengers(type='text' name='maximum_passengers' required)
      br
      button#submit_form_button.button-main.center(type='submit') Click me to submit
    script(src='/javascripts/google_maps.js')
    script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAKz3oZ9x--Z_1py4gMmwS0ETUG112nXJY&libraries=places&callback=initMap&v=weekly')
