extends layout

block content
    h1.page-title.margin-left-32 On Our Way
    p.margin-left-32 find a ride to your next destination today
    a.button-main(href='login') Log in to your account
    a.button-main(href='register') Register your account