doctype html
html
  head
    title= title
    script(src='/stylesheets/wei.js' defer)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
ul.navbar
  li.navbar-item
    a(href='/')
      img.navbar-logo(src='/images/onourway.png')
  li.navbar-item
    a I hate
  li.navbar-item
    a this damn
  li.navbar-item
    a class :)
  li.navbar-item.navbar-item-right-align
    a(href='/login') Log in to your account
  li.navbar-item.navbar-item-right-align
    a(href='/register') Register your account

block content
