doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
ul.navbar
  li.navbar-item
    img.navbar-logo(src='/images/onourway.png')
  li.navbar-item
    a I hate
  li.navbar-item
    a this damn
  li.navbar-item
    a class :)
  li.navbar-item.navbar-item-right-align
    a Login
  li.navbar-item.navbar-item-right-align
    a Sign-up

block content
