extends layout

block content
  body.background-homepage
    h1.page-title.margin-left-32 Register page
    -if (failed_register_message !== undefined) {
        p.desciption= failed_register_message
    -}
    form.form-default.margin-left-64(action='/register' method='post' enctype="multipart/form-data")
        ul.list-for-register
            li
                label.form-label(for='username') E-mail address or mobile phone number:
                input#username.form-input(type='text' name='username' required)
            li
                label.form-label(for='password') Password:
                input#password.form-input(type='password' name='password' required)
            li
                label.form-label(for='first_name') First name:
                input#username.form-input(type='text' name='first_name' required)
            li
                label.form-label(for='last_name') Last name:
                input#password.form-input(type='text' name='last_name' required)
            li 
                label.form-label(for='avatar') Choose your photo identification:
                <input type="file" id="avatar" name="avatar" style="cursor: pointer;" accept="image/png, image/jpeg" required>
                aside#image_container 
                    img#image_output_from_upload
            li
                label.form-label(for='credit_card_number') Credit card number:
                input#username.form-input(type='text' name='credit_card_number' required)
            li
                label.form-label(for='credit_card_cvc') Credit card cvc:
                input#password.form-input(type='text' name='credit_card_cvc')
            li
                label.form-label(for='credit_card_effective_date') Credit card effective date:
                input#username.form-input(type='text' name='credit_card_effective_date' required)
            li
                label.form-label(for='credit_card_expiry_date') Credit card expiry date:
                input#username.form-input(type='text' name='credit_card_expiry_date' required)
            li
                label.form-label(for='phone_number') Phone number:
                input#username.form-input(type='text' name='phone_number' required)
            li
                label.form-label(for='email') Email:
                input#username.form-input(type='text' name='email' required)
        button.button-main(action='submit') Register your account
        .margin-left-64
    script(src='javascripts/display_form_image.js')
    
    //- <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
//- <p><img id="output" width="200" /></p>