extends layout

block content

    h1.page-title.margin-left-32 Register page
    -if (failed_register_message !== undefined) {
        p.desciption= failed_register_message
    -}
    form.form-default.margin-left-64(action='/register' method='post')
        label.form-label(for='username') E-mail address or mobile phone number:
        input#username.form-input(type='text' name='username')
        label.form-label(for='password') Password:
        input#password.form-input(type='password' name='password')
        button.button-main.button-login-align(action='submit') Register your account
        .margin-left-64